
/* Songs list */
#tracks_list span, #tracks_list h4 {
	margin-top:4px;
	color:white;
	font-family: 'Lato';
	font-weight: 100;
}
#tracks_list span {
	color:gray;
}
#tracks_list span b {
	font-weight: 800;
}
#tracks_list h4 {
	letter-spacing: 2px;
}
#tracks_list h2{
	font-family: 'Lato';
	font-weight: 100;
	color: black;
	font-size: 22px;
	text-decoration: none;
	margin-top: 30px;
}
#sounds a {
	text-decoration: none;
}
#sounds li:hover {
	background: rgba(0,0,0,.2);
}

#sounds li {
	padding-bottom:18px;
	padding-top: 2px;
	padding-right:5%;
	padding-left:5%;
	list-style: none;
	transition:.3s;
}
#sounds li:hover {
	padding-left:6%;
} 
.plays {
	font-style: italic;
}
#sounds {
}
.playedSong li {
	background:black;
}
.playedSong li h2, .playedSong li span{
	color:#ff7700 !important;
}
@media screen and (max-width: 900px) {
	#tracks_list h2 {
		font-size:26px;
	}
	#navbar h2 {
		display:none;
	}
}
@media screen and (max-width: 500px) {
	#tracks_list h2 {
		font-size:23px;
	}
	#tracks_list li, #stuffInNavbar {
		padding-left:5px;
		padding-right:5px;
	}
	#tracks_list li:hover {
	padding-left:5px;
	padding-right:5px;
	} 
	#q {
		font-size:20px;
	}
	#q:focus{
		padding-top:3px;
		padding-bottom:12px !important;
	}
}
