
.table-products .table img{
 height:60px; 
 width: 60px; 
 float:left;
 background:#FFF;
 border:1px solid #dfe4eb;
 text-align:center;
 cursor:pointer;
 margin-right:23px;
}


.section{border-top:1px solid #EDEFF1; margin-top:100px;padding-top:45px;}
#main-stats{background-color:#FDFDFD;border-bottom:1px solid #EFEEF3;margin-left:-20px;margin-right:-20px;}
#main-stats .stats-row{box-shadow:-1px 0 5px 2px #F9F9F9 inset;}
#main-stats .stat{border-right:1px solid #E8E9EE;box-shadow:1px 0 0 0 #FFF;position:relative;text-align:right;padding:30px 0 35px;}
#main-stats .stat.last{border-right:0 none;}
#main-stats .stat .data{color:#29323A;font-size:16px;font-weight:600;padding-right:50px;text-transform:uppercase;}
#main-stats .stat .data .number{color:#32A0EE;font-size:25px;margin-right:15px;}
#main-stats .stat .date{color:#B4B8BB;font-family:Lato,'Open Sans';font-size:13px;font-style:italic;font-weight:lighter;position:absolute;right:50px;}
#statsChart{height:250px;margin-top:35px;width:97%;}
#pad-wrapper .ui-elements h4{margin-bottom:35px;}
#pad-wrapper .ui-elements .btn-flat{text-transform:uppercase;}
#pad-wrapper .ui-elements .btn-flat.icon{text-transform:none;}
#pad-wrapper .ui-elements .btn-flat.icon i{margin-right:3px;}
#pad-wrapper .ui-elements .ui-sliders{margin-top:10px;margin-bottom:50px;}
#pad-wrapper .ui-elements .ui-sliders .ui-slider{width:95%;}
#pad-wrapper .ui-elements .ui-sliders .ui-slider.slider-sample2,#pad-wrapper .ui-elements .ui-sliders .ui-slider.slider-sample3{margin-top:20px;}
#pad-wrapper .ui-elements .ui-group{margin-top:35px;}
#pad-wrapper .ui-elements .ui-group > *{margin-right:5px;margin-bottom:5px;}
#pad-wrapper .ui-elements .knobs{overflow:auto;}
#pad-wrapper .ui-elements .knob-wrapper{float:left;}
#pad-wrapper .ui-elements .knob-wrapper .knob{box-shadow:none;}
#pad-wrapper .ui-elements .knob-wrapper .info{position:relative;top:-20px;}
#pad-wrapper .ui-elements .knob-wrapper .info .param{color:#9da3a9;text-align:center;}
#pad-wrapper .ui-elements .knob-wrapper .info .param .line{background-color:#c4cdd8;height:3px;width:25px;display:inline-block;margin-right:10px;}
#pad-wrapper .ui-elements .knob-wrapper .info .param .line.blue{background-color:#30a1ec;}
.table-products{width:100%;}
.table-products .filter-block{margin-bottom:34px;}
.table-products .filter-block .ui-select{margin-right:20px;top:1px;height:24px;width:150px;}
.table-products .filter-block .search{margin:0 60px 0 0;}
.table-products .filter-block .new-product{padding:4px 14px;}
.table-products .table tr.first td{border-top:0 none;}
.table-products .table td.description{vertical-align:middle;color:#516372;}
.table-products .table th input[type="checkbox"]{margin-top:4px;}
.table-products .table input[type="checkbox"]{float:left;margin-top:11px;margin-right:23px;}
.table-products .table ul.actions{float:right;margin:5px 0 0;padding:0;}
.table-products .table ul.actions li{display:inline;border-right:1px solid #d0dde9;padding:5px 6px 0 3px;}
.table-products .table ul.actions li.last{border:0 none;}
.table-products .table ul.actions i{cursor:pointer;opacity:0.6;transition:opacity .1s linear;-moz-transition:opacity .1s linear;-webkit-transition:opacity .1s linear;-o-transition:opacity .1s linear;}
.table-products .table ul.actions i:hover{opacity:1;}
.table-products .label{position:relative;}
.table-products .pagination{float:right;margin-top:35px;}
.ui-pnotify{top:25px;right:25px;position:absolute;height:auto;z-index:9999;}
html > body .ui-pnotify{position:fixed;}
.ui-pnotify .ui-pnotify-shadow{-webkit-box-shadow:0 2px 10px rgba(50,50,50,0.5);-moz-box-shadow:0 2px 10px rgba(50,50,50,0.5);box-shadow:0 2px 10px rgba(50,50,50,0.5);}
.ui-pnotify-container{background-position:0 0;height:100%;margin:0;padding:.8em;}
.ui-pnotify-sharp{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.ui-pnotify-closer,.ui-pnotify-sticker{float:right;margin-left:.2em;}
.ui-pnotify-title{display:block;margin-bottom:.4em;}
.ui-pnotify-text{display:block;}
.ui-pnotify-icon,.ui-pnotify-icon span{display:block;float:left;margin-right:.2em;}
.ui-pnotify-sticker{display:none;}
.image_big img{margin:auto;}
.hot_release{margin-bottom:20px;}
.hot_release h3,.hot_release h4,.hot_release h5{margin-top:10px;}



@media max-width 767px {
#main-stats{margin-left:0;margin-right:0;}
#pad-wrapper .ui-elements .knobs .knob-wrapper{float:inherit;}
#pad-wrapper .table-products .table input[type="checkbox"]{margin-right:10px;}
#pad-wrapper .ui-elements .knobs,#pad-wrapper .ui-elements .showcase{text-align:center;}
#pad-wrapper .table-products .table .img,#pad-wrapper .table-products .table .label{display:none;}
}
@media max-width 979px {
#main-stats .stat .data{padding-right:17px;}
#pad-wrapper .knob-wrapper .info{display:none;}
.pointer{top:5%;}
}
@media min-width 980px {
#pad-wrapper .ui-elements .knob-wrapper + .knob-wrapper{margin-left:5px;}
}
@media min-width 1200px {
#pad-wrapper .ui-elements .showcase{width:53%;}
#pad-wrapper .ui-elements .knob-wrapper + .knob-wrapper{margin-left:35px;}
}
